export SLEEP_AFTER_ITERATION=10s

export UP_DURATION=1m
export PEAK_DURATION=18m
export DOWN_DURATION=1m

export PLATFORM_BASE_URL=https://YOUR_DOMAIN:9200

# OC
# export AUTH_N_PROVIDER_KOPANO_BASE_URL=https://YOUR_DOMAIN:9200
# export AUTH_N_PROVIDER_KOPANO_REDIRECT_URL=https://YOUR_DOMAIN:9200/oidc-callback.html

# NC
# export PLATFORM_TYPE=nextcloud
# export AUTH_N_PROVIDER_TYPE=basicAuth
